@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');


.container{
    width: 100%;
    margin: auto;
}


:root{
    --main-lightGray:#EFEFEF;
    --main-gray:#949494;
    --main-red:#AE0000;
    --main-black:#000000;
}

:root{
    --main-font-family: 'Castoro', serif;
}
