@import url('./global.css');


.container{
    padding-top: 160px;
}

.header, .main_content{
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
}

.header h1{
    font-size: 128px;
    letter-spacing:0.12em;
}

.header img{
    width: 636px;
    height: 848px;
    margin:0 auto;
}

.header h2{
    font-size: 128px;
    line-height: 192px;
    text-align: right;
    letter-spacing: 0.12em;
}


.discribtion{
    background: var(--main-lightGray);
}

.article{
    max-width: 1296px;
    margin: auto;
    /* margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 630px; */
    padding-top: 48px;
    padding-bottom: 48px;
}
.article p{
    width: 636px;
    height: 336px;
    margin-left: auto;
    font-size: 32px;
    line-height: 48px;

}

/*1532*/
/*293*/
.main_content{
    width: 636px;
    margin-left:312px ;
    padding-top: 80px;
    /* padding-right: 636px; */ /*remove it if you want to set box sizing*/
    padding-bottom: 148px;

}

.main_content h3{
    border-bottom: 3px solid var(--main-red);
    color:var(--main-red);
    font-size: 40px;
    margin-top: 40px;
}

.content_name h3{ 
    margin-top: 0px;
}

.content_name li{
    margin-top: 8px;
}

.main_content ul{
    margin-top: 16px;
    list-style: none;
}

.main_content li{
    margin-bottom: 12px;
}

.main_content p{
    font-size: 24px;

}

.main_content span{
    color: var(--main-gray);
    font-style: italic;
    font-size: 20px;
    padding-top: 3px;
}

.footer{
    margin: auto; 
    background-color:var(--main-black);
}

.social{
   padding-top: 64px; 
   padding-bottom: 64px;/*設在這與設在ul效果一樣，那哪裡比較正確*/
}

.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px
}


.social img{
    width: 64px;
    height: 64px;
}
