@import url('./global.css');


.header{
    max-width: 1278px;
    width: 100%;
    margin: auto;
   
}

.header h1{
    font-size: 128px;
    line-height: 192px;
    padding-top: 160px;
    font-family: var(--main-font-family);
    font-weight: 400;
    letter-spacing:0.12em;
}

.header img{
    width: 636px;
    height: 848px;
    display: block;
    margin:0 auto;
}

.header h2{
    font-size: 128px;
    line-height: 192px;
    text-align: right;
    font-family: var(--main-font-family);
    font-weight: 400;
    letter-spacing: 0.12em;
}


.discribtion{
    background: var(--main-lightGray);
}

.article{
    width: 636px;
    /* height: 336px; */
    /* margin: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding-left: 630px; */
    margin-left: auto;
    margin-right: 324px;
    padding-top: 48px;
    padding-bottom: 48px;
}
.article p{
    font-size: 32px;
    line-height: 48px;
    font-family: var(--main-font-family);
}

/*1532*/
/*293*/
.main_content{
    width: 636px;
    margin: auto;
    padding-top: 80px;
    padding-right: 636px;
    padding-bottom: 148px;
    
}

.main_content h3{
    border-bottom: 3px solid var(--main-red);
    color:var(--main-red);
    font-size: 40px;
    line-height: 60px;
    font-family: var(--main-font-family);
    margin-top: 76px;
}

.content_name h3{ 
    margin-top: 0px;
}

.content_name li{
    margin-top: 8px;
}

.main_content ul{
    margin-top: 16px;
}

.main_content li{
    margin-bottom: 12px;
}

.main_content p{
    font-size: 24px;
    line-height: 36px;
    font-family: var(--main-font-family);

}

.main_content span{
    color: var(--main-gray);
    font-style: italic;
    font-size: 20px;
    padding-top: 3px;
    font-weight: 400px;
    line-height: 30px;
    font-family: var(--main-font-family);
}

.footer{
    margin: auto; 
    background-color:var(--main-black);
}

.social{
   padding-top: 64px; 
   padding-bottom: 64px;/*設在這與設在ul效果一樣，那哪裡比較正確*/
}

.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px
}


.social img{
    width: 64px;
    height: 64px;
}
